@import './components/ships-grid/style.scss';
@import '../empty-list/style.scss';
@import './components/ships-table/style.scss';

.ships-list {
  display: block;

  &__button {
    background: transparent;
    color: #ccc;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 10px 30px;
    transition: 0.3s all ease-in-out;
    margin: 0 auto;

    &:hover {
      cursor: pointer;
      transform: scale(1.1);
      background-color: #ccc;
      color: rgb(1, 10, 25);
    }
  }
}